<% provide(:title, @bubble.name) %>
<div class="small-11 medium-4 large-3 columns medium-pull-8 large-pull-6">
<aside >
    <section>
     	     	<%= render "shared/bubble_stat" %>
    </section>
    <%= render "shared/user_side_panel" %>
  
    </aside>
</div>
<div class="small-11 medium-8 large-9 columns">

	<section>
        <%= render 'shared/post_form' %>
   </section>
    <% if @bubble.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>

</div>