<% provide(:title, @bubble.name) %>
<div class="large-3 small-12 columns">
<aside >
    <section  class= "section">
     	     	<%= render "shared/bubble_stat", bubble: @bubble %>
    </section>
    <%= render "shared/user_side_panel" %>
  
    </aside>
</div>
<div class="large-9 columns">

	<section>
        <%= render 'shared/post_form' %>
   </section>
    <% if @bubble.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>

</div>