<% @user ||= current_user %>
<h1>
        <%= @bubble.name %> <br> Pincode: <%= @bubble.pincode %>
</h1>
<div class="stats">
  <p>
    <strong id="followers" class="stat">
      <%= @bubble.users.count %>
    </strong>
    followers
  </p>
  <p>
	<strong class = "stat">
	    <%= @bubble.posts.count %> 
	</strong>
  posts
  </p>
  <p>
    <%= render 'follow_form' if signed_in? %>
  </p>
</div>