<%= form_for(current_user.posts.build(id: post.id,bubble_id: post.bubble_id, comment_ind: 1)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field small-12 columns">
    <%= f.text_area :content, placeholder: "Add Comment" %>

    <%= f.hidden_field :id  %>
    <%= f.hidden_field :bubble_id%>
    <%= f.hidden_field :comment_ind%>
  </div>
  <div class= "large-3 small-6 columns right">
   <%= f.submit "Comment", class: "tiny button radius secondary" %>
  </div>
<% end %>