<div class="row">
  <div class="large-1 columns small-3">
	<%= link_to gravatar_for(comment.user,size: 32), comment.user %>
  </div>  
  <div class="large-11 columns"><p>  <strong>
      <%= link_to comment.user.name, comment.user %>
    </strong>
  <%= wrap(comment.content) %>
  </p>
  <div id="post1">
   <ul class = "inline-list">
      <li>
    <% if @current_user.alreadyLike?(comment) %>
      <%= render 'posts/nolike', post: comment %>
    <% else %>
      <%= render 'posts/like', post: comment %>
    <% end %>
  </li>
  <li>
    <%= render "shared/comment_stat", post: comment %>
  </li>
</ul>
 </div>
</div>
</div>