
<li>
<div class="row">
	<div class="large-2 columns small-3">
    <%= link_to gravatar_for(post.user,size: 32), post.user %>
  
    
    </div>
    <div class="large-10 columns">
    
    <div>
    <p>  
    <strong class="user">
      <%= link_to post.user.name, post.user %> posted in <%= link_to post.bubble.name, post.bubble %> <%= time_ago_in_words(post.created_at) %> ago
    </strong>
    </p>
    <p>
    <%= wrap(post.content) %>
    </p>

  <div id="post1">
    <ul class = "inline-list">
      <li>
      <% if @current_user.alreadyLike?(post) %>
        <%= render 'posts/nolike', post: post %>
      <% else %>
        <%= render 'posts/like', post: post %>
      <% end %>
      </li>
      <li>
        <%= render "shared/post_stat", post: post %>
      </li>
    </ul>
 </div>
<section>
        <%= render partial: 'posts/comment', collection: Post.getComments(post) %>
</section>

<section>
        <%= render 'shared/comment_form', post: post %>
   </section>
</div>
</div>
</div>
</li>