<li class="likes">
<div class="row">
	
  <div class="large-1 columns small-3">
    <%= link_to gravatar_for(post.user,size: 32), post.user %>
  
    
    </div>
    <div class="large-11 columns">
    
    <p>  
    <h5 class="user">
      <%= link_to post.user.name, post.user %> posted in <%= link_to post.bubble.name, post.bubble %> <%= time_ago_in_words(post.created_at) %> ago
    </h5>
    <div id="post<%= post.id %>" class="right">
    <%= render "posts/like_form", post: post %>
 </div>
    </p>
    <p>
    <%= wrap(post.content) %>
    </p>

<dl class="accordion" data-accordion>
  <dd>
    
    <a href="#comment<%= post.id %>">
          <%= render "shared/post_stat", post: post %>
        
      </a>
    
    <div id="comment<%= post.id %>" class="content">
        <section><%= render partial: 'posts/comment', collection: Post.getComments(post).reorder('created_at ASC') %>
</section>

<section>
        <div class="large-12 columns"><%= render 'shared/comment_form', post: post %></div>
        
   </section>
   </div>
  </dd>
</dl>

</div>
</div>
</li>
<li class="lists"></li>